<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= current_page.data.title || data.settings.site_title %></title>
    <meta name="description" content="Another Australian, Socialist, Executive, Technologist, living in NYC.">
    <meta property="og:url" content="https://dirkkelly.com/" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Dirk Kelly" />
    <meta property="og:description" content="Another Australian, Socialist, Executive, Technologist, living in NYC." />
    <meta property="og:image" content="https://dirkkelly.com/images/screenshot.jpg?cache=2016-02-11-22-19-69" />
    <meta property="og:image:url" content="https://dirkkelly.com/images/screenshot.jpg?cache=2016-02-11-22-19-69" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="940" />
    <meta property="og:image:width" content="492" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag :site %>
  </head>
  <body class="<%= page_classes %>">

    <div class="container">
      <div class="row">
        <div class="col-xs-12 m-t-2 crush">
          <h1><%= link_to "Dirk Kelly", "/" %></h1>
          <h2 class="text-muted"><small>Internet Technologist</small></h2>
          <hr />
        </div>
      </div>

      <%= yield %>

      <div class="row">
        <div class="col-xs-12 m-t-1 crush text-muted">
          <p>
            <small>
              I don't want your job, <%= link_to "here's my resume", "/resume" %>.
            </small>
            <small>
              My opinions are mine.
              <a href="https://github.com/dirkkelly"><i class="fa fa-github"></i></a>
              <a href="https://twitter.com/dirkabroad"><i class="fa fa-twitter"></i></a>
              <a href="https://facebook.com/dirkabroad"><i class="fa fa-facebook"></i></a>
            </small>
          </p>
          <p>
            <small>
              I built this site with <a href="http://v4-alpha.getbootstrap.com/">Bootstrap</a>
              using <a href="https://middlemanapp.com/">Middleman</a>,
              it's hosted on <a href="https://heroku.com">Heroku</a>,
              and you can <a href="https://github.com/dirkkelly/dirkkelly.github.io/issues/new">report issues here</a>.
            </small>
          </p>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <%= javascript_include_tag :all %>
  </body>
</html>
