<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= current_page.data.title || data.settings.site_title %></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag :site %>
  </head>
  <body class="<%= page_classes %>">

    <div class="container">
      <div class="row">
        <div class="col-xs-12 m-t-2">
          <h1><%= link_to "Dirk Kelly", "/" %></h1>
          <h2 class="text-muted"><small>Internet Technologist <%= link_to "Resume", "/resume" %></small></h2>
        </div>
      </div>

      <%= yield %>

      <div class="row">
        <div class="col-xs-12 m-t-1">
          <p class="text-muted">
            <small>I built this site with <a href="http://v4-alpha.getbootstrap.com/">Bootstrap</a> using <a href="https://middlemanapp.com/">Middleman</a>.</small>
          </p>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <%= javascript_include_tag :all %>
  </body>
</html>
