---
title: Blog of Dirk Kelly
---

<% blog.articles.each do |article| %>
  <article>
    <h3>
      <a href="<%= article.url %>"><%= article.title %></a>
      <small><time><%= article.date.strftime('%b %e %Y') %></time></small>
    </h3>

    <%= article.summary %>

    <a href="<%= article.url %>">Read more</a>

    <hr />
  </article>
<% end %>
